<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script type="text/javascript" src="/javascripts/Detector.js"></script>

    <script type="text/javascript" src="/javascripts/three.min.js"></script>

    <script type="text/javascript" src="/javascripts/Tween.js"></script>

    <script type="text/javascript" src="/javascripts/globe.js"></script>

  </head>
  <body>
    {{{body}}}
  </body>
</html>
